<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Get to know us a little better</h3>
                </div>
                <center>
                    <div class="col-md-4">
                      <dl class="dl-vertical">          
                        <dd><img src="img/about/cloud.png" class="img-responsive" height="90px" width="123px"/></dd><br>
                        <dt>Forward Thinking</dt>
                        <dd>
                            QuickByte utilizes the latest technologies that are both proven and practical. Our mission is to make the process easier for you: we provide our clients with the right tools for Web Development, security, content management, search engine marketing and email marketing.
                        </dd>
                      </dl>  
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-vertical">          
                        <dd><img src="img/about/settings.png" class="img-responsive" height="90px" width="91px"/></dd><br>
                        <dt>Problem Solvers</dt>
                        <dd>
                            We work directly with you, providing personalized, unique solutions that cater to your needs. We are committed to expanding our clients organizational capabilities while becoming a trusted partner for their future growth.
                        </dd>
                      </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-vertical">          
                        <dd><img src="img/about/wheel.png" class="img-responsive" height="91px" width="90px"/></dd><br>
                        <dt>Customer Support</dt>
                        <dd>
                            We don’t just launch your project and leave you to fend for yourself.QuickByte provides ongoing support to determine strengths, analyze weaknesses and strategize for improvements.
                        </dd>
                      </dl>
                    </div>
                </center>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        Founded in 2016 in Nairobi, QuickByte Technologies. was formed to provide professional web based services to churches schools and not-for-profit organizations. We offer a wide range of design and development services that are all delivered using the latest and greatest technologies with a personal experience. Our goal is to provide our customers the means to effectively establish an online presence and market themselves successfully. We strategically help build your global web presence, and develop more meaningful relationships with your target audiences.
                    </div>
                </div>
            </div>
        </div>
    </section>